@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "SuisseIntl";
  font-size: 1.5rem;
}

// set page background
body {
  background-color: #1d2b29;
  color: #f4efe7;
}

.btn {
  border-color: $gray-300;
  letter-spacing: 0.2rem;
  background-color: #1e5246;

  &_rounded {
    border-color: #f4efe700;
    border-radius: 1rem;
  }

  &_large {
    padding: 1rem 3rem;
  }

  &_hint_blue {
    border-color: #f4efe700;
  }
  &_hint_green {
    border-color: #f4efe700;
  }
}

.mfs {
  &_1 {
    font-size: 3rem;
    text-align: center !important;
  }
}

.input {
  &_rounded {
    font-size: 3rem;
    padding: 1rem;
    outline: none !important;
    box-shadow: none !important;
    background-color: $gray-800;
    border: 1px solid $gray-300;
    border-radius: 1rem;
    min-height: 15rem;
    text-align: start;
  }
}

.rotated-wrapper {
  max-width: 3rem;
}
.rotated-text {
  display: inline-block; /* needed so transform applies nicely */
  transform-origin: 50% 50%;
  &-CCW {
    transform: rotate(-90deg); /* 90° counterclockwise */
  }
  &-CW {
    transform: rotate(90deg); /* 90° clockwise */
  }
}

.full-black {
  background-color: #000000cc;
  width: 100%;
  height: 100%;
}
.pre-line {
  white-space: pre-line;
}

// override keyboard styles

.simple-keyboard.hg-theme-default.myTheme {
  touch-action: manipulation;
  border-radius: 0px;
  background-color: var(--bs-body-bg);

  margin: -3rem;
  width: calc(100% + 6rem);
  height: 25vh;

  .hg-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hg-row {
    flex-grow: 1;
    display: flex;
    height: 100%;
  }
  .hg-button {
    flex-grow: 1;
    height: 100%;

    background-color: #1e5246;
    color: white;
  }
}
