@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "SuisseIntl";
}

.btn {
  background-color: $blue-800;
  border-color: $blue-300;
  letter-spacing: 0.2rem;

  &_rounded {
    background-color: $gray-800;
    border-color: $gray-300;
    border-radius: 1rem;
  }

  &_large {
    padding: 1rem 3rem;
  }
}

.mfs {
  &_1 {
    font-size: 1rem;
  }
}

.input {
  &_rounded {
    font-size: 3rem;
    padding: 1rem;
    outline: none !important;
    box-shadow: none !important;
    background-color: $gray-800;
    border: 1px solid $gray-300;
    border-radius: 1rem;
    min-height: 15rem;
    text-align: start;
  }
}

.full-black {
  background-color: #000000cc;
  width: 100%;
  height: 100%;
}

// override keyboard styles

.simple-keyboard.hg-theme-default.myTheme {
  touch-action: manipulation;
  border-radius: 10px;
  background-color: var(--bs-body-bg);

  margin: -3rem;
  width: calc(100% + 6rem);
  height: 25vh;

  .hg-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hg-row {
    flex-grow: 1;
    display: flex;
    height: 100%;
  }
  .hg-button {
    flex-grow: 1;
    height: 100%;

    background-color: #333333;
    color: white;
  }
}
